[submodule "external/casadi"]
	path = external/casadi
	url = https://github.com/casadi/casadi.git
[submodule "casadi"]
	path = casadi
	url = https://github.com/casadi/casadi.git
[submodule "Ipopt"]
	path = Ipopt
	url = https://github.com/coin-or/Ipopt.git
